In [2]:
import pandas as pd

In [4]:
# 1. Load the dataset
df = pd.read_csv("A:\ELEVATE GROUP\Data Analyst Internship\Day 8\Dataset\superstore_sales.csv")

In [5]:
# 2. Quick look at data
print(df.head())
print(df.info())
print(df.describe())

          order_id  order_date   ship_date       ship_mode    customer_name  \
0     AG-2011-2040  01-01-2011  06-01-2011  Standard Class  Toby Braunhardt
1    IN-2011-47883  01-01-2011  08-01-2011  Standard Class      Joseph Holt
2     HU-2011-1220  01-01-2011  05-01-2011    Second Class    Annie Thurman
3  IT-2011-3647632  01-01-2011  05-01-2011    Second Class     Eugene Moren
4    IN-2011-47883  01-01-2011  08-01-2011  Standard Class      Joseph Holt

       segment            state    country  market   region  ...  \
0     Consumer      Constantine    Algeria  Africa   Africa  ...
1     Consumer  New South Wales  Australia    APAC  Oceania  ...
2     Consumer         Budapest    Hungary    EMEA     EMEA  ...
3  Home Office        Stockholm     Sweden      EU    North  ...
4     Consumer  New South Wales  Australia    APAC  Oceania  ...

          category sub_category                 product_name sales quantity  \
0  Office Supplies      Storage          Tenex Lockers, Blue   408        2
1  Office Supplies     Supplies     Acme Trimmer, High Speed   120        3
2  Office Supplies      Storage      Tenex Box, Single Width    66        4
3  Office Supplies        Paper  Enermax Note Cards, Premium    45        3
4        Furniture  Furnishings   Eldon Light Bulb, Duo Pack   114        5

   discount   profit  shipping_cost  order_priority  year
0       0.0  106.140          35.46          Medium  2011
1       0.1   36.036           9.72          Medium  2011
2       0.0   29.640           8.17            High  2011
3       0.5  -26.055           4.82            High  2011
4       0.1   37.770           4.70          Medium  2011

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB
None
           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [6]:
# 3. Handle missing values (if any)
print(df.isnull().sum())
df = df.dropna()   # or fill missing values depending on context

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [13]:
# 4. Convert date column to datetime (important for monthly analysis)
df['order_date'] = pd.to_datetime(df['order_date'])

In [14]:
# 5. Extract useful time features
df['Year'] = df['order_date'].dt.year
df['Month'] = df['order_date'].dt.month_name()

In [15]:
# 6. Check cleaned data
print(df.head())

  order_id order_date   ship_date       ship_mode    customer_name  \
0      NaT 2011-01-01  06-01-2011  Standard Class  Toby Braunhardt
1      NaT 2011-01-01  08-01-2011  Standard Class      Joseph Holt
2      NaT 2011-01-01  05-01-2011    Second Class    Annie Thurman
3      NaT 2011-01-01  05-01-2011    Second Class     Eugene Moren
4      NaT 2011-01-01  08-01-2011  Standard Class      Joseph Holt

       segment            state    country  market   region  ...  \
0     Consumer      Constantine    Algeria  Africa   Africa  ...
1     Consumer  New South Wales  Australia    APAC  Oceania  ...
2     Consumer         Budapest    Hungary    EMEA     EMEA  ...
3  Home Office        Stockholm     Sweden      EU    North  ...
4     Consumer  New South Wales  Australia    APAC  Oceania  ...

                  product_name sales quantity discount   profit  \
0          Tenex Lockers, Blue   408        2      0.0  106.140
1     Acme Trimmer, High Speed   120        3      0.1   36.036
2      Tenex Box, Single Width    66        4      0.0   29.640
3  Enermax Note Cards, Premium    45        3      0.5  -26.055
4   Eldon Light Bulb, Duo Pack   114        5      0.1   37.770

   shipping_cost  order_priority  year    Year    Month
0          35.46          Medium  2011  2011.0  January
1           9.72          Medium  2011  2011.0  January
2           8.17            High  2011  2011.0  January
3           4.82            High  2011  2011.0  January
4           4.70          Medium  2011  2011.0  January

[5 rows x 23 columns]

In [17]:
# 7. Save cleaned file
df.to_csv("superstore_sales_clean.csv", index=False)

In [18]:
# 7. Save cleaned file in the Directory from which it will be imported to PowerBI for further work
df.to_csv("A:\ELEVATE GROUP\Data Analyst Internship\Day 8\Dataset\superstore_sales_clean.csv", index=False)